/* Color Codes */
.color-codes {
  color: #091b21;
  color: #233237;
  color: #204d48;
  color: #d5e2e2;
  color: #45230f;
  color: #b98957;
  color: #a6592f;
  color: #f2b129;
  color: #f2f2f2;
  color: #222222;
  color: #91999b;
}
/* Color Codes */


/* Generic Styles */

@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.4;
  color: #333;
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
.nav__item {
  font-family: "Quantico", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: #45230F;
  margin: 0;
}

h4 {
  font-size: 1.25rem;
}

p {
  color: #45230F;
  margin: 0.8em 0 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row, 
.flex-container, 
.location__flex {
  display: flex;
}

.row {
  justify-content: space-between;
}

.col {
  width: 100%;
}

/* Navigation Styles */

header {
  background: #d5e2e2;
  padding: 2em 0;
}

.logo {
  margin-right: 1em;
}

.nav {
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin-left: 2rem;
}

.nav__link {
  font-size: 1.25rem;
  color: #45230f;
  text-decoration: none;
  text-transform: uppercase;
  
}

.nav__link:hover {
  opacity: 0.75;
}

/* Navigation Styles End */

/* Hero Styles */

.hero {
  background-color: #d5e2e2;
  color: #45230f;
  padding: 2em 0;
}

.hero__text {
  width: 48%;
}

.hero__img {
  width: 50%;
}

.hero p {
  margin-bottom: 2em;
}

.flex-container {
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

/* Hero Styles End */

/* Button Styles */

.btn {
  display: inline-block;
  font-family: "Quantico", sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #45230f;
  color: #fff;
  padding: 0.75em 2em;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
/* Button Style End */

/* Finely Roasted Section Styles */

.finely-roasted {
  color: white;
  background-image: url("images/coffee-beans-bg.jpg");
  background-attachment: none;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 0;
}

.finely-roasted p {
  color: #fff;
}

/* Finely Roasted Section Styles End */

/* Location Section Styles */
.location__container {
  background-color: #204d48;
  color: #fff;
  padding: 3em 0;
  margin: auto;
}

.location__container h3 {
  color: #fff;
}

.location__container p {
  color: #fff;
}

.location__grid {
  display: grid;

  grid-template-areas:
    "location location hours"
    "map map hours";
  
  gap: 1em;
}

#location {
  grid-area: location;
}

#map {
  grid-area: map;
}

#hours {
  grid-area: hours;
}

.location__grid > div img {
  max-width: 100%;
}

/* Location Section Styles End */


/* Menu Item Styles */

.coffee-grid {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 2.5em 4em;
}

.tea-grid,
.pastry-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 2.5em 4em;
}

.menu-item {
  display: flex;
}

.tea-item,
.pastry-item,
.coffee-item {
  margin-left: 1.5em;
  display: grid;
  grid-template-columns: 1fr auto;
}

/* Menu Item Styles End */

/* Form Styles */

.dcd-signup {
  background-color: #204d48;
  color: #fff;
}

.dcd-signup p {
  color: #fff;
}

.sign-up {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.intro-content {
  width: 100%;
}

form {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
}

label {
  display: block;
}

input,
textarea {
  margin-top: 0.3rem;
  padding: 0.6rem;
  border: solid 1px #bbb;
  border-radius: 5px;
  width: 100%;
  resize: none;
  color: #333;
}

button {
  border: none;
  display: inline-block;
  padding: 0.75em 2.25em;
  border: 1px solid #a6592f;
  border-radius: 10px;
  background-color: #a6592f;
  color: #ffffff;
  font-family: "Quantico", sans-serif;
  font-weight: 900;
  /*
  font-size: 0.9em;
  */
  text-transform: uppercase;
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "name"
    "email"
    "button";
  gap: 1.6rem;
}

#name-block {
  grid-area: name;
}

#email-block {
  grid-area: email;
}

button {
  grid-area: button;
}

/* Form Styles End */

/* Footer Styles */

.sitemap__container {
  background: #233237;
  color: #fff;
}

.sitemap__container p {
  color: #fff;
}

.wrapper {
  padding: 60px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #91999b;
  color: #233237;
  margin: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
}

.footer__container {
  background: #091b21;
  color: #fff;
}

.container__footer {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.footer__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "copyright"
    "privacy";
}

footer p {
  color: #f2f2f2;
  font-size: 1rem;
}

p a {
  text-decoration: none;
  color: #f2f2f2;
}

#copyright {
  grid-area: copyright;
}

#privacy-policy {
  grid-area: privacy;
}

.footer__info {
  margin-bottom: .5em;
  padding-bottom: .5em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Footer Styles */

/* Media Queries */

@media screen and (max-width: 630px) {
  .hero__text, .hero__img, .btn {
    width: 100%;
  }

  .hero__text a {
    text-align: center;
  }

  .hero__img {
    margin-top: 3em;
  }
}

@media screen and (max-width: 630px) {
    .location__grid {
      grid-template-areas:
        "location"
        "map"
        "hours";
  
  }
  .location__flex {
    flex-wrap: wrap;
  }
    #hours {
      width: 100%
  }

  .row {
    display: block;
  }

  .coffee-grid {
    grid-template-rows: repeat(14, 1fr);
  }

  .tea-grid,
  .pastry-grid {
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (min-width: 530px) {
  form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "button button";
  }

  footer {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "copyright privacy";
  }

  .footer__info {
    justify-content: space-between;
  } 

} 

/* Media Queries End */